@charset "utf-8";
/* CSS Document */
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
article,
del,
em,
img,
i,
nav,
aside,
canvas,
footer,
header,
menu,
section,
ul,
li {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, 'Microsoft YaHei';
  color: #666;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/bg.gif) repeat;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
  border: none;
  width: 100%;
}
em,
i,
dfn {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
button {
  cursor: pointer;
  transition: 0.5s;
}
button:focus {
  border: none;
  outline: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  clear: both;
  content: '';
  white-space: nowrap;
}
nav {
  width: 100%;
  height: 41px;
  background: url(../images/nav_bg.gif) repeat-x;
  border-bottom: 2px solid #e15671;
}
nav .nav_main {
  width: 1050px;
  position: relative;
  left: 50%;
  margin-left: -525px;
}
nav .nav_main .logo {
  width: 250px;
  height: 120px;
  float: left;
}
nav .nav_main .menu {
  float: right;
  white-space: nowrap;
}
nav .nav_main .menu ul {
  padding-right: 25px;
}
nav .nav_main .menu ul li {
  height: 100%;
  display: inline-block;
  float: left;
  padding: 0px 18px;
  line-height: 41px;
  color: #FFF;
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #222;
  font-size: 14px;
}
nav .nav_main .menu ul li a {
  color: #FFF;
  display: block;
}
nav .nav_main .menu ul li:first-child {
  border-left: none;
}
nav .nav_main .menu ul li:last-child {
  border-right: none;
}
nav .nav_main .menu ul li:hover {
  background: rgba(0, 0, 0, 0.2);
}
nav .nav_main .menu ul li.active {
  background: #e15671;
}
nav .nav_main .menu .loginBtn {
  height: 23px;
  position: absolute;
  top: 41px;
  right: 25px;
}
nav .nav_main .menu .loginBtn a {
  display: inline-block;
  float: left;
  padding: 0px 13px;
  background-image: -moz-linear-gradient(top, #cf4c68, #cf4c68);
  /* Firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cf4c68), color-stop(1, #cf4c68));
  /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@start', GradientType='0');
  /* IE*/
  color: #fff;
  font-size: 12px;
  height: 100%;
  line-height: 23px;
  border-right: 1px solid #fff;
}
nav .nav_main .menu .loginBtn a:last-child {
  border: none;
}
